body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f8ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

#auth-container, #chat-container, #nickname-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
}

body.dark-mode #auth-container, 
body.dark-mode #chat-container, 
body.dark-mode #nickname-container {
    background-color: #1e1e1e;
    color: #ffffff;
}

h2 {
    color: #ff69b4;
    text-align: center;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

body.dark-mode input {
    background-color: #333333;
    color: #ffffff;
    border: 1px solid #555555;
}

button {
    padding: 10px 20px;
    background-color: #ff69b4;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

body.dark-mode button {
    background-color: #ff1493;
}

button:hover {
    background-color: #ff1493;
}

#messages {
    border: 1px solid #ccc;
    padding: 10px;
    height: 300px;
    overflow-y: scroll;
    margin-bottom: 10px;
    background-color: #f9f9f9;
}

body.dark-mode #messages {
    border: 1px solid #444444;
    background-color: #222222;
}

.message {
    margin-bottom: 5px;
    font-family: 'Arial', sans-serif; /* Hoặc 'Verdana', sans-serif; */
    font-size: 0.7em; /* Kích thước chữ nhỏ hơn so với nickname */
    color: #333; /* Màu sắc của tin nhắn */
}

body.dark-mode .message {
    color: #ffffff; /* Màu sắc tin nhắn trong chế độ tối */
}

.message.sender {
    text-align: right;
    color: #1e90ff;
}

body.dark-mode .message.sender {
    color: #87cefa; /* Màu sắc của tin nhắn gửi trong chế độ tối */
}

.message.receiver {
    text-align: left;
    color: #ff4500;
}

body.dark-mode .message.receiver {
    color: #ff6347; /* Màu sắc của tin nhắn nhận trong chế độ tối */
}

/* Style cho nickname */
.nickname {
    font-family: 'Arial', sans-serif; /* Hoặc 'Verdana', sans-serif; */ 
    font-size: 0.9em; /* Kích thước chữ lớn hơn */
    font-weight: bold; /* Đậm */
    color: #FF5733; /* Màu sắc tùy chỉnh (ngài có thể thay đổi) */
}

body.dark-mode .nickname {
    color: #ff8c00; /* Màu sắc nickname trong chế độ tối */
}
#emoji-picker {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    position: absolute;
    bottom: 50px;
    right: 20px;
    display: none; /* Ẩn mặc định */
}

.emoji {
    font-size: 1.5em;
    cursor: pointer;
    padding: 5px;
    transition: background-color 0.2s;
}

.emoji:hover {
    background-color: #f0f0f0;
}
