* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Arial', sans-serif;
    background-image: url('/1.jpg'); /* Đường dẫn đến ảnh nền */
    background-size: cover; /* Ảnh nền bao phủ toàn bộ màn hình */
    background-position: center; /* Căn giữa ảnh nền */
    background-repeat: no-repeat; /* Không lặp lại ảnh */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#auth-container, #chat-container, #nickname-container {
    background-color: rgba(26, 2, 26, 0.4);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 1);
    width: 300px;
    
}

h2 {
    color: #ff69b4;
    text-align: center;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgba(26, 2, 26, 0.4);
    box-shadow: 0 0 10px rgba(255, 255, 255, 1);
}
input[type="email"], input[type="password"], input[type="text"] {
    color: #cb6196;  /* Màu chữ */
}
button {
    padding: 10px 20px;
    background-color: #ff69b4;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #ff1493;
}

#messages {
    border: 1px solid #ccc;
    padding: 10px;
    height: 300px;
    overflow-y: scroll;
    margin-bottom: 10px;
    background-color: rgba(26, 2, 26, 0.4);
}

.message {
    margin-bottom: 5px;
    font-family: 'Arial', sans-serif; /* Hoáº·c 'Verdana', sans-serif; */
    font-size: 0.7em; /* KĂ­ch thÆ°á»›c chá»¯ nhá» hÆ¡n so vá»›i nickname */
    color: #cb6196; /* MĂ u sáº¯c cá»§a tin nháº¯n */
}

.message.sender {
    text-align: right;
    color: #1e90ff;
}

.message.receiver {
    text-align: left;
    color: #ff4500;
}
/* Style cho nickname */
.nickname {
    font-family: 'Arial', sans-serif; /* Hoáº·c 'Verdana', sans-serif; */ 
    font-size: 0.8em; /* KĂ­ch thÆ°á»›c chá»¯ lá»›n hÆ¡n */
    font-weight: bold; /* Äáº­m */
    color: #FF5733; /* MĂ u sáº¯c tĂ¹y chá»‰nh (ngĂ i cĂ³ thá»ƒ thay Ä‘á»•i) */
}
.centered-text {
    text-align: center;
    font-size: 1.2em;
}
